.SetBtn {
    border: 2px solid #00AAFF;
    grid-area: s;
    font-size: 20px;
    padding: 7px 15px 7px 15px;
    margin-right: 25px;
    width: 100px;
    background-color:  #00AAFF;
    color: #282c34;
    border-radius: 5px;
    cursor: pointer;
    font-weight:bold;
    outline: 0;
}

.SetBtn:active {
    border: 2px solid #00AAFF;
    background-color:  #282c34;
    font-weight:bold;
    color: #00AAFF;
}