.ResetBtn {
    grid-area: r;
    font-size: 15px;
    padding: 7px 15px 7px 15px;
    margin-right: 25px;
    width: 100px;
    background-color: #EDEEF0;
    border-radius: 5px;
    cursor: pointer;
}

.ResetBtn:hover {
    background-color: #b0c4d4;
    box-shadow: 1px 1px 5px grey;
}

.ResetBtn:active {
    background-color: #4e5d74;
    box-shadow: 1px 1px 5px grey;
}