.SettingsBody{
    /*background: linear-gradient(to right, #00AAFF, #00FF6C);*/
    background: #282c34;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 60vh;
    padding: 20px;
    border-radius: 15px;
    /*border: 2px solid #ff7f8c;*/
    border: 2px solid #00AAFF;
}

/*
.Display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.BtnArea {
    display: grid;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    !*border: 2px solid #00AAFF;
    height: 7vh;
    width: 50vh;*!
    grid-template-areas:
    'i r';
}*/
